<DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
    <form action='responseForm' method='post'>
        <input type='text' name='name'>
        <select type='text' name='userLang'>
            <option value='French'>French</option>
            <option value='Spanish'>Spanish</option>
            <option value='English'>English</option>
        </select>
        <input type='submit' value='Greet me!'>
       </form>
    </body>
    </html>